h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

.navBG {
  background: linear-gradient(180deg, #0dbb0a, #179615);
  /* background-color: #2c8f6c !important; */
  color: white;
}
.sideNavHeadings {
  background: linear-gradient(180deg, #e0e0e0, #e0e0e0);
  color: rgb(57, 57, 57);
  padding-block: 0;
  font-weight: bold;
}
.dashCard {
  background: linear-gradient(180deg, #0dbb0a, #179615);
  border-radius: 8px;
  padding: 15px;
  color: white !important;
}

.dashStatsCard {
  background: linear-gradient(180deg, #45d943, #299327);
  color: white !important;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  width: 45%;
  box-sizing: border-box;
}

a:active,
a.active {
  color: #ffffff !important;
  background: linear-gradient(180deg, #4bc248, #398a38);
}
