* {
  /* transition: all 0.2s ease-in-out; */
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

.lang_select {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #f8fcf8;
  color: #f8fcf8;
  cursor: pointer;
}

.lang_select option {
  color: #000;
}

.select:focus {
  outline: none !important;
  border: none !important;
}

input[type="search"] {
  border-radius: 15px;
  padding: 8px 30px;
  border: 1px solid #d7e8f9;
  background-color: #f8fcf8;
}

input[type="search"]:focus {
  outline: none;
}

/* notices  ==============*/
.custom-marquee {
  /* background-color: #f0f0f0; */
}

.custom-marquee-container {
  overflow: hidden;
  width: 100%;
}

.custom-marquee-item {
  font-size: 18px;
  padding-block: 5px;
  text-decoration: none;
  width: 100%;
  display: block; /* Ensure the items take full width */
  text-wrap: nowrap;
}

.custom-marquee-item:hover {
  text-decoration: underline;
}

.marquee-container:not(.horizontal)::before {
  background: none !important;
}
.marquee-container:not(.horizontal)::after {
  background: none !important;
}

.ManageMediaContainer {
  margin: 10px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  width: 100%;
  box-shadow: 1px 1px 8px gray;
  position: relative;
}

.ManageMediaContainer h4 {
  margin-block: 0;
  padding: 5px;
  background-color: rgb(190, 237, 241);
}

.ManageMediaContainer .deleteBtn {
  position: absolute;
  top: 0;
  right: 10px;
  color: rgb(72, 163, 47);
  z-index: 10;
}


/* react-popup modal */

.popup-overlay {
  z-index: 9999 !important;
}

@media screen and (max-width: 820px) {
  .popup-content{
    width:95% !important;
  }
  
}